description = "Default layout"
==
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Sharehub - Responsive HTML5 Template">
    <meta name="author" content="etheme.com">
    <title>Sharehub - Responsive HTML5 Template</title>

    <!-- STYLESHEET -->
    <!-- FONTS -->
    <!-- Muli -->
    <link href="https://fonts.googleapis.com/css?family=Signika:300,400,600,700" rel="stylesheet">

    <!-- icon -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{'assets/fonts/icons/fontawesome/css/font-awesome.min.css' |theme}}"/>

    <link rel="stylesheet" href="{{'assets/fonts/icons/sharehub/style.css' |theme}}"/>

    <!-- Vendor -->
    <!-- Custom -->
    <link rel="stylesheet" href="{{'assets/vendor/magnificPopup/dist/magnific-popup.css' |theme}}" type="text/css" />
    <link href="{{'assets/css/style.css' |theme}}" rel="stylesheet"/>
    <link href="{{'assets/css/mystyles.css' |theme}}" rel="stylesheet"/>

    <!-- JAVA SCRIPT -->
    <!-- require -->
    <script data-main="{{'assets/js/app.js'|theme}}" src="{{'assets/vendor/require/require.js' |theme}}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{'assets/vendor/datePicker/css/datepicker.css' |theme}}"/>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="sh-header">
            <div class="container">
                <a href="index.php" class="sh-logo">
                    <img src="{{'assets/fonts/icons/sharehub/svg/Sharehub.svg' |theme}}" alt="">
                    <img src="{{'assets/fonts/icons/sharehub/svg/Sharehub-invert.svg' |theme}}" alt="">
                </a>
                <div class="sh-header__btn-dropdown sh-btn-icon"><i class="icon-Arrow_Down"></i></div>
                <ul class="sh-header__dropdown">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="single_post.html">Single Post</a></li>
                    <li><a href="multiple_image_post.html">Multiple Image Post</a></li>
                    <li><a href="single_video_post.html">Single Video Post</a></li>
                    <li><a href="user.html">User</a></li>
                    <li><a href="edit_post.html">Edit Post</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Signup</a></li>
                </ul>
                <script>
                    require(['{{"assets/js/app.js"|theme}}'], function () {
                        require(['{{"assets/modules/menu"|theme}}']);
                    });
                </script>
                <nav>
                    <ul class="sh-header__menu">
                        <li>
                            <a href="#">Categories</a>
                            <div class="sh-header__nav">
                                <div class="container">
                                    <ul>
                                        <li><a href="#">New Releases</a></li>
                                        <li><a href="#">Popular</a></li>
                                        <li><a href="#">Top 50</a></li>
                                        <li><a href="#">Upcoming</a></li>
                                        <li><a href="#">Gaming News</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">XBOX One</a></li>
                                        <li><a href="#">Play Station 4</a></li>
                                        <li><a href="#">PC</a></li>
                                        <li><a href="#">Handheld</a></li>
                                        <li><a href="#">Walkthrough</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Game Reviews</a></li>
                                        <li><a href="#">Cancelled Games</a></li>
                                        <li><a href="#">Mobile Games</a></li>
                                        <li><a href="#">Free Games</a></li>
                                        <li><a href="#">Discount Codes</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Game Wiki</a></li>
                                        <li><a href="#">Cheat Coddes</a></li>
                                        <li><a href="#">Contests</a></li>
                                        <li><a href="#">Giveaways</a></li>
                                        <li><a href="#">Hardware</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <a href="#">Hot</a>
                            <div class="sh-header__nav">
                                <div class="container">
                                    <ul>
                                        <li><a href="#">New Releases</a></li>
                                        <li><a href="#">Popular</a></li>
                                        <li><a href="#">Top 50</a></li>
                                        <li><a href="#">Upcoming</a></li>
                                        <li><a href="#">Gaming News</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">XBOX One</a></li>
                                        <li><a href="#">Play Station 4</a></li>
                                        <li><a href="#">PC</a></li>
                                        <li><a href="#">Handheld</a></li>
                                        <li><a href="#">Walkthrough</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Game Reviews</a></li>
                                        <li><a href="#">Cancelled Games</a></li>
                                        <li><a href="#">Mobile Games</a></li>
                                        <li><a href="#">Free Games</a></li>
                                        <li><a href="#">Discount Codes</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Game Wiki</a></li>
                                        <li><a href="#">Cheat Coddes</a></li>
                                        <li><a href="#">Contests</a></li>
                                        <li><a href="#">Giveaways</a></li>
                                        <li><a href="#">Hardware</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Trending</a>
                            <div class="sh-header__nav">
                                <div class="container">
                                    <ul>
                                        <li><a href="#">New Releases</a></li>
                                        <li><a href="#">Popular</a></li>
                                        <li><a href="#">Top 50</a></li>
                                        <li><a href="#">Upcoming</a></li>
                                        <li><a href="#">Gaming News</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">XBOX One</a></li>
                                        <li><a href="#">Play Station 4</a></li>
                                        <li><a href="#">PC</a></li>
                                        <li><a href="#">Handheld</a></li>
                                        <li><a href="#">Walkthrough</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Game Reviews</a></li>
                                        <li><a href="#">Cancelled Games</a></li>
                                        <li><a href="#">Mobile Games</a></li>
                                        <li><a href="#">Free Games</a></li>
                                        <li><a href="#">Discount Codes</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Game Wiki</a></li>
                                        <li><a href="#">Cheat Coddes</a></li>
                                        <li><a href="#">Contests</a></li>
                                        <li><a href="#">Giveaways</a></li>
                                        <li><a href="#">Hardware</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Reactions</a>
                            <div class="sh-header__nav">
                                <div class="container">
                                    <div class="col-sm-12">
                                        <div class="sh-header__nav-feeling sh-feeling">
                                            <a href="#" rel="tooltip" data-original-title="Happy"><img src="{{'assets/fonts/icons/sharehub/svg/Happy.svg' |theme}}" alt=""><span>126</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Lol"><img src="{{'assets/fonts/icons/sharehub/svg/LOL.svg' |theme}}" alt=""><span>256</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Surprised"><img src="{{'assets/fonts/icons/sharehub/svg/Surprised.svg' |theme}}" alt=""><span>741</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Sad"><img src="{{'assets/fonts/icons/sharehub/svg/Sad.svg' |theme}}" alt=""><span>2K</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Tongue Out"><img src="{{'assets/fonts/icons/sharehub/svg/Tongue_Out.svg' |theme}}" alt=""><span>245</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Doubt"><img src="{{'assets/fonts/icons/sharehub/svg/Doubt.svg' |theme}}" alt=""><span>237</span></a>
                                            <a href="#" rel="tooltip" data-original-title="No words"><img src="{{'assets/fonts/icons/sharehub/svg/No_words.svg' |theme}}" alt=""><span>237</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Love"><img src="{{'assets/fonts/icons/sharehub/svg/Love.svg' |theme}}" alt=""><span>1,236</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Blushing"><img src="{{'assets/fonts/icons/sharehub/svg/Blushing.svg' |theme}}" alt=""><span>365</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Cool"><img src="{{'assets/fonts/icons/sharehub/svg/Cool.svg' |theme}}" alt=""><span>412</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Angry"><img src="{{'assets/fonts/icons/sharehub/svg/Angry.svg' |theme}}" alt=""><span>478</span></a>
                                            <a href="#" rel="tooltip" data-original-title="Dead"><img src="{{'assets/fonts/icons/sharehub/svg/Dead.svg' |theme}}" alt=""><span>2K</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="sh-header__search">
                    <form action="#">
                        <label>
                            <input type="search" name="global-search" class="form-control" placeholder="Search Posts, hashtags, categoires">
                            <i class="icon-Search"></i>
                        </label>
                    </form>
                </div>
                <div class="sh-header__control">
                    <a href="#" class="sh-header__btn-like sh-btn-icon"><i class="icon-Favotire_empty"></i></a>
                    <a href="#" class="sh-header__btn-comment sh-btn-icon"><i class="icon-Comment"></i></a>
                    <a href="#" class="sh-header__btn-notification sh-btn-icon"><i class="icon-Notification"></i></a>
                    <a href="#" class="sh-header__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-01.png' |theme}}" alt=""></a>
                    <a href="#" class="sh-header__btn-upload sh-btn"><i class="icon-Upvote"></i> Upload</a>
                </div>
                <div class="sh-user">
                    <div class="sh-user__head">
                        <p>3 New Notifications</p>
                        <a href="#" class="sh-user__close sh-btn-icon"><i class="icon-Cancel"></i></a>
                    </div>
                    <div class="sh-user__content">
                        <div>
                            <div><a href="#"><img src="{{'assets/fonts/icons/sharehub/svg/Badge_03.svg' |theme}}" alt=""></a></div>
                            <div>
                                <div>New Badge Earned</div>
                                <span>Get 1K upvotes on your post</span>
                            </div>
                        </div>
                        <div>
                            <div><a href="#"><img src="{{'assets/images/avatars/user-02.jpg' |theme}}" alt=""></a></div>
                            <div>
                                <div>Life choices of my cat</div>
                                <span>Earned <i class="icon-Upvote"></i> 210</span>
                            </div>
                        </div>
                    </div>
                    <div class="sh-user__footer">
                        <a href="#" class="sh-comments__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-01.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#">bastion . </a>
                            <span>1 hour ago</span>
                            <p>Hey, how’s it going nathun?</p>
                        </div>
                    </div>
                </div>
                <script>
                    require(['{{"assets/js/app.js"|theme}}'], function () {
                        require(['{{"assets/modules/userToggle"|theme}}']);
                    });
                </script>
            </div>
        </div>

        <div class="sh-upload">
            <div class="sh-upload__head">
                <form action="#"><input type="text" class="form-control ttg-border-none" placeholder="Paste URL or image link or add text here" /></form>
            </div>
            <div class="sh-upload__content">
                <img src="{{'assets/fonts/icons/sharehub/svg/Upload_graphic.svg' |theme}}" alt="">
                <p>Drag Images here or <a href="#" class="sh-btn">Browse</a> from your computer. </p>
            </div>
            <div class="sh-upload__footer">
                <a href="#">
                    <i class="icon-Make_a_meme"></i>
                    <span>Make a meme</span>
                </a>
                <a href="#">
                    <i class="icon-Upload_Image"></i>
                    <span>Video to GIF</span>
                </a>
                <a href="#">
                    <i class="icon-Video_to_GIF"></i>
                    <span>Browse your uploads</span>
                </a>
            </div>
        </div>
        <script>
            require(['{{"assets/js/app.js"|theme}}'], function () {
                require(['{{"assets/modules/main"|theme}}']);
                require(['{{"assets/modules/upload"|theme}}']);
            });
        </script>
    </header>

    <!-- MAIN -->
    <main>
        <div class="container">
            <!--content head-->
            <div class="sh-content-head">
                <div class="sh-content-head__btn-calendar sh-btn-icon">
                    <i class="icon-Calender"></i>
                    <div class="sh-calendar">
                        <div class="sh-calendar__head">
                            <div>
                                <span>Browse front page posts by date</span>
                                <p>Missed a day browsing? Don’t worry we got you!</p>
                            </div>
                            <div class="sh-calendar__close sh-btn-icon"><i class="icon-Cancel"></i></div>
                        </div>
                        <div class="sh-calendar__content">
                            <div class="sh-calendar__datepicker"></div>
                        </div>
                        <div class="sh-calendar__footer">
                            <p><a href="#">510 front page posts</a> found on 23 September, 2016</p>
                        </div>
                    </div>
                </div>
                <script>
                    require(['{{"assets/js/app.js"|theme}}'], function () {
                        require(['{{"assets/modules/datePicker"|theme}}']);
                    });
                </script>
                <h1>The <a href="#">most awesome</a> posts on gaming, sorted by
                    <div class="sh-content-head__popularity-btn">
                        <span>popularity</span>
                        <div class="sh-content-head__popularity-content">
                            <div class="sh-content-head__popularity-head">
                                <span>Popularity</span>
                                <span>Currently Selected</span>
                            </div>
                            <div class="sh-content-head__popularity-body">
                                <ul>
                                    <li><a href="#">Newest first</a></li>
                                    <li><a href="#">Highest scoring</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </h1>
                <div class="sh-content-head__control">
                    <a href="#" class="sh-btn-icon"><i class="icon-Timeline_View"></i></a>
                    <a href="#" class="sh-btn-icon"><i class="icon-Grid_View"></i></a>
                    <a href="#" class="sh-btn-icon active"><i class="icon-Tile_View"></i></a>
                    <a href="#" class="sh-btn-icon"><i class="icon-Randomize"></i></a>
                </div>
            </div>


            {# My Code #}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div data-widget-host="habitat" id="wt_embed">
                            <script type="text/props">
                                {
                                {# "wtEmbedKey":"TAMWOVXv6E5F9kBfCnYTf1uEaqt6MZET9Qg7rjSO", #}
                                "wtEmbedKey": "bf687a6b-f965-4e75-b882-de09c05e2a2d",
                                "wtEmbedOutput": ".wt_embed_output"
                                }
                            </script>
                        </div>
                        <script async src="https://prod-embed-cdn.wetransfer.net/v1/latest.js"></script>
                            <!--
                            The next input element will hold the transfer link. For testing purposes, you
                            could change the type attribute to "text", instead of "hidden".
                            -->
                            <input type="hidden" name="wt_embed_output" class="wt_embed_output" />
                    </div>
                </div>
            </div>

                

            {# My Code Ends #}


            <!--sections-->
            <div class="sh-section__wrap row">
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="single_post.html" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-02.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Envato_Studio</a>
                                <span class="sh-section__passed">2 hours ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Special beta pricing's almost over, don't miss out. Head to <a href="single_post.html">http://enva.t</a> to check it out & sign up. Don’t forget o subscribe.</p>
                            <div class="sh-section__image">
                                <a href="single_post.html"><img src="{{'assets/images/microphone-1209816_1920.jpg' |theme}}" alt=""></a>
                            </div>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-03.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Best Jokes</a>
                                <span class="sh-section__passed">20 min ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>About 4,000 years ago:</br>God: I shall create a great plague and every living thing on Earth will die!</br>Fish: *Winks at God and slips him a $20 note*</br>God: Correction, I shall create a great flood!</p>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-02.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Envato</a>
                                <span class="sh-section__passed">13 hours ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Some things you may not have considered about the legal side of borrowing content from other creators.</p>
                            <div class="sh-section__image">
                                <a href="single_post.html"><img src="{{'assets/images/girl-1561943_960_720.jpg' |theme}}" alt=""></a>
                                <div class="sh-section__image-info">
                                    <div>The Potential Legal Consequences of content</div>
                                    <p>We share everything you need to consider before installing that plugin..</p>
                                    <span>envato.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-04.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Bastion</a>
                            <span class="sh-section__passed">1 hours ago</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>Checkout our new product grid images.</p>
                        <div class="sh-section__images row">
                            <div class="col-sm-6"><a href="single_post.html"><img src="{{'assets/images/cat-1652822_1920.jpg' |theme}}" alt=""></a></div>
                            <div class="col-sm-6"><a href="single_post.html"><img src="{{'assets/images/cat-1634369_1920.jpg' |theme}}" alt=""></a></div>
                            <div class="col-sm-6"><a href="single_post.html"><img src="{{'assets/images/frog-1530803_960_720.jpg' |theme}}" alt=""></a></div>
                            <div class="col-sm-6"><a href="single_post.html"><img src="{{'assets/images/plums-1649602_1920.jpg' |theme}}" alt=""></a></div>
                        </div>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-06.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">ETC Show</a>
                                <span class="sh-section__passed">2 Days ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Gaming News is stupid!! - T.U.G.S</p>
                            <div class="sh-section__media sh-video">
                                <div class="sh-video__player">
                                    <video poster="{{'assets/images/mt-fuji-1346096_1920.jpg' |theme}}">
                                        <source src="{{'assets/videos/video-1.mp4' |theme}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
                                    </video>
                                    <div class="sh-media__btn"></div>
                                </div>
                            </div>
                            <script>
                                require(['{{"assets/js/app.js"|theme}}'], function () {
                                    require(['{{"assets/modules/player"|theme}}']);
                                });
                            </script>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-07.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Aaron Paul</a>
                            <span class="sh-section__passed">1 Days ago</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>This track is so sick yo!</p>
                        <div class="sh-section__media sh-audio">
                            <div class="sh-audio__player">
                                <audio>
                                    <source src="{{'assets/videos/video-1.mp4' |theme}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
                                </audio>
                                <img src="{{'assets/images/light-bulb-1640438_960_720.jpg' |theme}}" alt="">
                                <div class="sh-media__btn"></div>
                            </div>
                            <div class="sh-audio__info">
                                <div>Statement Music</div>
                                <p>Jeremy Vancaulart - Malevolent State Of Trance</p>
                                <span>-4:30</span>
                                <div class="sh-audio__range">
                                    <img src="{{'assets/images/media/media-range.png' |theme}}" alt="">
                                </div>
                            </div>
                        </div>
                        <script>
                            require(['{{"assets/js/app.js"|theme}}'], function () {
                                require(['{{"assets/modules/player"|theme}}']);
                            });
                        </script>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-08.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Andrei Stefan</a>
                                <span class="sh-section__passed">1 Sep 2016</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Illustrator in 60 seconds: How to create a folded document icon.</p>
                            <div class="sh-section__image">
                                <a href="single_post.html"><img src="{{'assets/images/grassland-1425427_1920.jpg' |theme}}" alt=""></a>
                            </div>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-09.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Sergei Nikolav</a>
                            <span class="sh-section__passed">Reposted 10 mins ago</span>
                        </div>
                        <a href="#" class="sh-section__link-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                    </div>
                    <div class="sh-section__repost">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-08.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Andrei Stefan</a>
                                <span class="sh-section__passed">1 Sep 2016</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Special beta pricing's almost over, don't miss out. Head to <a href="#">http://enva.t</a> to check it out & sign up. Don’t forget o subscribe.</p>
                            <div class="sh-section__image">
                                <a href="single_post.html"><img src="{{'assets/images/milky-way-1063305_960_720.jpg' |theme}}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-10.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">evl_racoorn</a>
                                <span class="sh-section__passed">2 days ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <ul class="sh-section__code">
                                <li><span><</span>div style="width:660px;text-align:center;margin:20px auto 0"></li>
                                <li><span><</span>div class="container style-flat"></li>
                                <li><span>  <</span>kbd>transform-style: flat;</kbd></li>
                                <li><span>    <</span>div class="top"></li>
                                <li><span>      <</span>div class="bottom"><span><</span>/div></li>
                                <li><span>  <</span>/div></li>
                                <li><span><</span>/div></li>
                            </ul>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-11.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Kurtis Lamar</a>
                            <span class="sh-section__passed">2 sep 2016</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>Who will be playing battlefield 1 this month?</p>
                        <div class="sh-section__voting sh-voting">
                            <form action="#">
                                <label>
                                    <input type="radio" name="voting" checked>
                                    <span></span>
                                    <div class="sh-voting__range">
                                        <div style="width: 85%;"></div>
                                        <p>Yea, I will be playing</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="voting">
                                    <span></span>
                                    <div class="sh-voting__range">
                                        <div style="width: 46%;"></div>
                                        <p>Maybe later</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="voting">
                                    <span></span>
                                    <div class="sh-voting__range">
                                        <div style="width: 75%;"></div>
                                        <p>Nope</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="voting">
                                    <span></span>
                                    <div class="sh-voting__range">
                                        <div style="width: 35%;"></div>
                                        <p>Too costly for PC</p>
                                    </div>
                                </label>
                                <label>
                                    <input type="radio" name="voting">
                                    <span></span>
                                    <div class="sh-voting__range">
                                        <div style="width: 12%;"></div>
                                        <p>Waiting for a price drop</p>
                                    </div>
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-13.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Animation_World</a>
                                <span class="sh-section__passed">3 Sep 2016</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>How I feel about mondays</p>
                            <div class="sh-section__image sh-section__image-gif">
                                <a href="single_post.html"><img src="{{'assets/images/man-1483479_1920.gif' |theme}}" alt=""></a>
                            </div>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-12.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">memoangeles</a>
                            <span class="sh-section__passed">3 hours ago</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>I don’t do exclusive work at the moment, sorry about that :( </p>
                        <div class="sh-section__image">
                            <a href="single_post.html"><img src="{{'assets/images/food-1631727_1920.jpg' |theme}}" alt=""></a>
                        </div>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-14.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">hungryburger</a>
                                <span class="sh-section__passed">SPONSORED</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Feeling hungry today? grab a <a href="#">#hungryburger</a></p>
                            <div class="sh-section__image">
                                <a href="single_post.html"><img src="{{'assets/images/bach-flowers-1472825_960_720.jpg' |theme}}" alt=""></a>
                            </div>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-15.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">PC Gamer</a>
                            <span class="sh-section__passed">1 hours ago</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>Checkout our new product grid images.</p>
                        <div class="sh-section__compare sh-compare">
                            <div class="sh-compare__images">
                                <div><a href="single_post.html"><img src="{{'assets/images/bill-1606319_1920.jpg' |theme}}" alt=""></a></div>
                                <div><a href="single_post.html"><img src="{{'assets/images/cashbox-1642989_1920.jpg' |theme}}" alt=""></a></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 sh-compare__left">
                                    <span>AMD Radeon R9 390X</span>
                                    <span class="sh-compare__price">$699</span>
                                </div>
                                <div class="col-sm-6 sh-compare__right">
                                    <span>GeForce GTX 980 Ti</span>
                                    <span class="sh-compare__price">$749</span>
                                </div>
                            </div>
                            <div class="sh-compare__architecture">GPU Architecture <i></i></div>
                            <div class="sh-compare__section">
                                <p>Core Speed</p>
                                <div class="row">
                                    <div class="col-sm-6 sh-compare__left">
                                        <div class="sh-compare__progress-red"
                                             style="width: 68%;"></div>
                                        <span>1050 MHz</span>
                                    </div>
                                    <div class="col-sm-6 sh-compare__right">
                                        <div class="sh-compare__progress-green"
                                             style="width: 90%;"></div>
                                        <span>1607 MHz</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sh-compare__section">
                                <p>Memory</p>
                                <div class="row">
                                    <div class="col-sm-6 sh-compare__left">
                                        <div class="sh-compare__progress-green"
                                             style="width: 90%;"></div>
                                        <span>8192 MB</span>
                                    </div>
                                    <div class="col-sm-6 sh-compare__right">
                                        <div class="sh-compare__progress-green"
                                             style="width: 80%;"></div>
                                        <span>8192 MB</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sh-compare__section">
                                <p>L2 Cache</p>
                                <div class="row">
                                    <div class="col-sm-6 sh-compare__left">
                                        <div class="sh-compare__progress-red"
                                             style="width: 50%;"></div>
                                        <span>1024 KB</span>
                                    </div>
                                    <div class="col-sm-6 sh-compare__right">
                                        <div class="sh-compare__progress-green"
                                             style="width: 98%;"></div>
                                        <span>2048 KB</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sh-compare__section">
                                <p>Shader Processing Units</p>
                                <div class="row">
                                    <div class="col-sm-6 sh-compare__left">
                                        <div class="sh-compare__progress-green"
                                             style="width: 98%;"></div>
                                        <span>2816</span>
                                    </div>
                                    <div class="col-sm-6 sh-compare__right">
                                        <div class="sh-compare__progress-red"
                                             style="width: 70%;"></div>
                                        <span>2560</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-03.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Best Jokes</a>
                                <span class="sh-section__passed">20 min ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>About 4,000 years ago: God: I shall create a great plague and every living thing on Earth will die!</p>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-07.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Aaron Paul</a>
                                <span class="sh-section__passed">1 Days ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Got a chance to read this new book today, seemed pretty great.</p>
                            <div class="sh-section__rating sh-rating">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="sh-rating__image">
                                            <a href="single_post.html"><img src="{{'assets/images/blog-rating.png' |theme}}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="sh-rating__info">
                                            <span>Jonathan Smith</span>
                                            <p>Spirit’s Voice : Part 1 of the Volume</p>
                                            <div class="sh-rating__progress">
                                                <div class="tt-progress"
                                                     data-value="0.75">
                                                    <strong></strong>
                                                </div>
                                                <span>Great</span>
                                            </div>
                                            <script>
                                                require(['{{"assets/js/app.js"|theme}}'], function () {
                                                    require(['{{"assets/modules/progress"|theme}}']);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-17.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Subscribe Form</a>
                            <span class="sh-section__passed">3 sep 2016</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>Get 10% OFF when you sign up</p>
                        <div class="sh-section__image">
                            <a href="single_post.html"><img src="{{'assets/images/question-form.jpg' |theme}}" alt=""></a>
                        </div>
                    </div>
                    <div class="sh-section__options">
                        <a href="#" class="sh-btn-icon"><i class="icon-Email"></i></a>
                        <span>Email Address</span>
                        <a href="#" class="sh-section__options-btn sh-btn-icon"><i class="icon-Submit_Tick"></i></a>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                        <div class="sh-section__head">
                            <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-16.png' |theme}}" alt=""></a>
                            <div>
                                <a href="#" class="sh-section__name">Question Form</a>
                                <span class="sh-section__passed">3 hours ago</span>
                            </div>
                            <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                        </div>
                        <div class="sh-section__content">
                            <p>Is it okay for my 5 year old autistic cousin with violent tendencies to play GTA V?</p>
                        </div>
                        <div class="sh-section__options">
                            <span>Add your answer</span>
                            <a href="#" class="sh-section__options-btn sh-btn-icon"><i class="icon-Submit_Tick"></i></a>
                        </div>
                        <div class="sh-section__footer">
                            <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                            <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                            <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                            <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                            <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                            <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                        </div>
                    </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-07.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Mobile App</a>
                            <span class="sh-section__passed">1 Days ago</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>Battery Saving Pro app out today</p>
                        <div class="sh-section__offer sh-offer">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="sh-offer__image">
                                        <a href="single_post.html"><img src="{{'assets/images/battery.jpg' |theme}}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="sh-offer__info">
                                        <span>iOS Application</span>
                                        <p>Battery Life Saver Pro</p>
                                    </div>
                                    <div class="sh-offer__btns">
                                        <a href="#" class="btn">iOS</a>
                                        <a href="#" class="btn">Android</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sh-section__options">
                        <a href="#" class="sh-btn-icon"><i class="icon-Email"></i></a>
                        <span>Email Address</span>
                        <a href="#" class="sh-section__options-btn sh-btn-icon"><i class="icon-Submit_Tick"></i></a>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
                <!--section-->
                <div class="sh-section__item col-lg-6">
                    <div class="sh-section">
                    <div class="sh-section__head">
                        <a href="#" class="sh-section__avatar sh-avatar"><img src="{{'assets/images/avatars/avatar-12.png' |theme}}" alt=""></a>
                        <div>
                            <a href="#" class="sh-section__name">Dress Owesom</a>
                            <span class="sh-section__passed">3 Sep 2016</span>
                        </div>
                        <a href="#" class="sh-section__link sh-btn-icon"><i class="icon-Link"></i></a>
                    </div>
                    <div class="sh-section__content">
                        <p>Get 20% off on our products untill october 12</p>
                        <div class="sh-section__image">
                            <a href="single_post.html"><img src="{{'assets/images/dress_owesom.jpg' |theme}}" alt=""></a>
                            <div class="sh-section__image-curtain">
                                <div class="sh-section__image-curtain-text">
                                    <p>Bluetooth Speakers</p>
                                    <span>$15.99</span>
                                </div>
                                <a href="single_post.html" class="sh-btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="sh-section__footer">
                        <a href="#" class="sh-section__btn-upvote sh-btn-icon"><i class="icon-Upvote"></i></a>
                        <a href="#" class="sh-section__btn-downvote sh-btn-icon"><i class="icon-Downvote"></i></a>
                        <a href="#" class="sh-section__btn-repost sh-btn-icon"><i class="icon-Repost"></i></a>
                        <a href="#" class="sh-section__btn-like sh-btn-icon"><i class="icon-Favorite_Full"></i><span>1,274</span></a>
                        <a href="#" class="sh-section__btn-comment sh-btn-icon"><i class="icon-Comment_Full"></i><span>982</span></a>
                        <a href="#" class="sh-section__btn-share sh-btn-icon"><i class="icon-Share"></i></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="sh-footer">
            <a href="#" class="sh-footer__more-btn">
                <span class="icon-Scroll_Down"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
                <p>Scorll down to load more posts</p>
            </a>
        </div>
    </footer>
    <script>
        require(['{{"assets/js/app.js"|theme}}'], function () {
            require(['{{"assets/modules/posts"|theme}}']);
        });
    </script>
</body>
</html>